snippet setup
    <script setup lang="ts">
    ${0}
    </script>

snippet setupJS
    <script setup>
    ${0}
    </script>

snippet template
    <template>
        ${0}
    </template>

snippet style
    <style scoped>
    ${0}
    </style>
